upstream jenkins {
  server 127.0.0.1:{{ jenkins_http_port }} fail_timeout=0;
}

server {
  listen {{ jenkins_https_port }} ssl;
  server_name {{ inventory_hostname }};
 
  ssl_certificate /opt/cloudera/security/pki/x509/local.pem;
  ssl_certificate_key /opt/cloudera/security/pki/x509/local-nopass.key;
 
  location / {
    proxy_set_header        Host $host:$server_port;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_redirect http:// https://;
    proxy_pass              http://localhost:{{ jenkins_http_port }};
    # Required for new HTTP-based CLI
    proxy_http_version 1.1;
    proxy_request_buffering off;
    # workaround for https://issues.jenkins-ci.org/browse/JENKINS-45651
    add_header 'X-SSH-Endpoint' '{{ inventory_hostname }}:50022' always;
  }
}
